<div class="container mt-5">
  <h1>Add a new dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add to cocktail recipe" %>
  <% end %>
</div>
